<div class="row blank-slate" >
	<div class="small-12 small-centered columns">
		<p>You don't have any todo items!</p>
		<%= link_to "Add Item", new_todo_list_todo_item_path(@todo_list), class: "button radius" %>
	</div>
</div>