<div class="row blank-slate" >
	<div class="small-12 small-centered columns">
		<p>You don't have any todo lists!</p>
		<%= link_to "Add List", new_todo_list_path, class: "button radius" %>
	</div>
</div>