<div class="row">
	<div class="small-10 small-centered columns hero">
		<div class="row">
			<div class="small-12 small-centered medium-6 medium-uncentered large-10 columns end hero-inner">
				<h2>Todo Lists for everyone.</h2>
				<%= link_to "Sign Up", new_user_path, class: "button radius" %>
			</div>
		</div>
	</div>
</div>