<div class="small-4 columns header-icon">
	<%= link_to "Log In", new_user_session_path %>
	<%= link_to "Sign Up", new_user_path %>
</div>
<div class="small-4 columns">
	<h1 class="logo"><%= link_to "Odot", root_path, class: "hide-text" %></h1>
</div>
<div class="small-4 columns header-icon">
</div>